body {
background: linear-gradient(0deg,#4b6077 25%, transparent 26%, transparent 49%, #4b607780 50%, #4b607780 75%, transparent 76% );
        background-size: 5em 5em;
        background-color: #bec2bb;
        opacity: 1
}