* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --image-comparison-slider-width: min(80vw, 768px);
  --image-comparison-slider-handle-width: 50px;
}
body {
  font-family: Helvetica, sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
}
#teach {
  padding: 5px;
  border:2px solid black;
  border-style: dotted;

  }
  .center-screen {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
#button {
  position: absolute;
  left: 0px;
  top: 40px;
  padding: 0px;
  }
  .button1 {
    padding: 10px;
    font-size: 20px;
    color: black;

    }  .button1:hover {
        background-color: white;
        }
    .button2 {
          padding: 10px;
          font-size: 20px;
          color: white;
          background-color: rgb(19, 129, 32);
          }  .button2:hover {
              background-color: white; 
              }
.button3 {
                padding: 10px;
                font-size: 20px;
                color: white;
                background-color: rgb(35, 43, 39);
                }  .button3:hover {
                    background-color: white; 
                    }

.button4 {
                padding: 10px;
                font-size: 20px;
                color: white;
                background-color: rgb(90, 97, 69);
                }  .button4:hover{
                      background-color: white;
                      }
@media (max-width: 768px) {
  :root {
    --image-comparison-slider-width: 90vw;
  }
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.left-column {
  float: left;
  width: 40%;
}

.right-column {
  float: right;
  width: 60%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}