body {
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  overflow: hidden;
}
#terms-box {
  height: 200px;
  width: 450px;
  overflow: auto;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
#popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 999;
}
#popup {
  background: #fff;
  color: black;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#agree-btn {
  background-color: #f10a0a;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
#agree-btn:hover {
  background-color: #45a049;
}
#agree-checkbox {
  margin-bottom: 10px;
}

#vdo {
  height: 70vh;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}
          table {
            width: 100%;
            max-width: 100%;
            height: 65%;
            overflow: hidden;
          }
      
          td {
            width: 100%;
            height: 100%;
            overflow: hidden;
          }
          footer {
            position: fixed;
            bottom: 10;
            left: 0;
            right: 0;
            text-align: center;
}

:root {
  --image-comparison-slider-width: min(250px);
  --image-comparison-slider-handle-width: 100px;
}


#image-comparison-slider {
  position: relative;
  width: var(--image-comparison-slider-width);
  overflow: hidden;
  border-radius: 0.5rem;
  cursor: col-resize;
  
}
#image-comparison-slider img {
  display: block;
  width: var(--image-comparison-slider-width);
  height: auto;
  max-height: 80vh;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
  animation: wave 1s infinite;
}
#image-comparison-slider .img-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  transform: translateZ(0);
  animation: wave 1s infinite;
}
#image-comparison-slider .img-wrapper img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  animation: wave 1s infinite;
}
.ticker-container {
    font-size: x-large;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    overflow: hidden;
    white-space: nowrap;
  }
   /* .ticker-content {
    display: inline-block;
    animation: marquee 50s linear infinite;
  } */
  /* .review-content {
    display: inline-block;
    animation: marquee2 90s linear infinite;
  } */
  @keyframes marquee {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 16.25%; /* 16:9 aspect ratio */
  height: 60vh;
}

.iframe-container iframe {
  height: 100%;
  border: none;
}

.blackpole {
  position: absolute;
  right: 10;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 14%;
}
.whitepole {
  position: absolute;
  left: 10;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 14%;
}
.menu {
 position: fixed;
  border: 1px solid #333;
  border-radius: 10px; /* แก้ไขให้ระบุหน่วย px */
  color: #333;
  bottom: -10;
  left: 280px; 
  width: 150px;
  background-color: #333;
  padding: 10px;
  float: left;
  transform: rotate(-3deg); 
}
.menu a ,
.menu li{
  color: #efecec;
  text-decoration: none; /* ถ้าคุณต้องการลบเส้นใต้ลิงก์ */
}
.menu a:hover,
.menu li:hover {
  font-size: 20px; /* ขนาดตัวอักษรเมื่อ hover */
}
.menu2 {
 position: fixed;
  border: 1px solid #efecec;
  border-radius: 10px; /* แก้ไขให้ระบุหน่วย px */
  bottom: -10;
  right: 270px; 
  width: 150px;
  background-color: #efecec;
  padding: 10px;
  float: right;
  transform: rotate(3deg); 
}
.menu2 a ,
.menu2 li {
  color: #333;
  text-decoration: none; /* ถ้าคุณต้องการลบเส้นใต้ลิงก์ */
}
.menu2 a:hover,
.menu2 li:hover {
  font-size: 20px; /* ขนาดตัวอักษรเมื่อ hover */
}
    /* Tooltip container */
    .tooltip {
      position: relative;
      display: inline-block;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 90px;
      background-color: #000;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 10px;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 100%;
      margin-left: -100px;
      opacity: 0;
      transition: opacity 0.3s;
    }

    /* Show the tooltip text when hovering */
    .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }